
.display-1-header {
    font-size: 6rem;
    font-weight: 300;
    line-height: 1.2;
  }
  
  @media only screen and (max-width: 600px) {
    .display-1-header {
        font-size: 4.5rem;
        font-weight: 300;
        line-height: 1.2;
    }
  }

/*https://stackoverflow.com/a/33518069*/
  .footer {
    background: #061D25 !important;
    padding: 10px 0;
  }
  .footer a {
    color: #70726F;
    font-size: 20px;
    padding: 10px;
    border-right: 1px solid #70726F;
    transition: all .5s ease !important;
  }
  .footer a:first-child {
    border-left: 1px solid #70726F;
  }
  .footer a:hover {
    color: white !important;
  }